#!/usr/bin/env bash
# Shebang to just allow refactoring by the ide

# Project env
echo ""
echo "Project: "
ORGANISATION_NAME="combostrap"
echo "   Organization Name : $ORGANISATION_NAME"
export PROJECT_ROOT="$PWD"
echo "   Project Root      : $PROJECT_ROOT"

# Used in scripts
export RM_DIR="$PWD"
export RM_PREFIX="RM"
export ORGANISATION_ENV_NAME
ORGANISATION_ENV_NAME=$(echo "_$ORGANISATION_NAME" | tr '[:lower:]' '[:upper:]' | tr '-' '_')

echo ""
echo "Git: "
# Git User
"$PWD/git/config/user"

# Git Hooks
GIT_HOOKS="$PROJECT_ROOT/.git-hooks"
"$PWD/git/config/hooks" "$GIT_HOOKS"
rsync "$PROJECT_ROOT/git/hooks/commit-msg" "$GIT_HOOKS/commit-msg"

# PATH
export PATH="$PROJECT_ROOT/bin:$PATH"
# Editor Config
rsync "$PROJECT_ROOT/editorconfig/root/.editorconfig" "$PROJECT_ROOT/.editorconfig"

# Last EOL before direnv output
echo ""
