#!/usr/bin/env bash
# Shebang to just allow refactoring by the ide

# Project env
echo "Project: "
export PROJECT_ORGANISATION_NAME="combostrap"
echo "   Organization Name : $PROJECT_ORGANISATION_NAME"
export PROJECT_ROOT="$PWD"
echo "   Project Root      : $PROJECT_ROOT"

# Git User
"$PWD/git/config/user"

# Git Hooks
GIT_HOOKS="$PROJECT_ROOT/.git-hooks"
"$PWD/git/config/hooks" "$GIT_HOOKS"
rsync "$PROJECT_ROOT/git/hooks/commit-msg" "$GIT_HOOKS/commit-msg"

# Editor Config
rsync "$PROJECT_ROOT/editorconfig/root/.editorconfig" "$PROJECT_ROOT/.editorconfig"

# Last EOL before direnv output
echo ""
