#!/usr/bin/env bash
# Shebang to just allow refactoring by the ide

# Project env
echo "Project: "
export PROJECT_ORGANISATION_NAME="combostrap"
echo "   Organization Name : $PROJECT_ORGANISATION_NAME"
export PROJECT_ROOT="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
echo "   Project Root      : $PROJECT_ROOT"

# Git
$PWD/git/config

# Editor Config
rsync --update $PWD/editorconfig/root/.editorconfig $PWD/.editorconfig

# Last EOL before direnv output
echo ""
