#!/usr/bin/env bash
# Install this repo

# Strict Bash
set -TCEeuo pipefail

echo ""

###################
# Resource Manager utility
###################
export RM_PREFIX="RM"
function rm_echo_yellow(){
    YELLOW="\033[0;33m"
    NO_COLOR="\033[0m"
    echo -e "${YELLOW}$1$NO_COLOR"
}

###################
# Project Env
# Project Environment are common project variables used in script
###################
# Project Root
export PROJECT_ROOT="$PWD"

# Envrm
ENVRC_RM="$PROJECT_ROOT/.envrc.rm"
if [ -f "$ENVRC_RM" ]; then
  # shellcheck disable=SC1090
  source "$ENVRC_RM";
fi

ORGANISATION_NAME_VAR="ORGANISATION_NAME";
ORGANISATION_NAME=${!ORGANISATION_NAME_VAR:-}
if [ "${ORGANISATION_NAME}" == "" ]; then
  rm_echo_yellow "Installation:"
  rm_echo_yellow "What is the name of your organization?\n(ie the first name in your git repo reference (organization/repo)"
  read -r ORGANISATION_NAME
  if [ "$ORGANISATION_NAME" != "" ]; then
    ORGANISATION_NAME=$(echo "$ORGANISATION_NAME" | tr '[:upper:]' '[:lower:]' | tr ' ' '-')
    echo -e "export ORGANISATION_NAME=\"$ORGANISATION_NAME\"" >> "$ENVRC_RM"
    rm_echo_yellow "Project organization name $ORGANISATION_NAME added to the $ENVRC_RM file?"
  else
    rm_echo_yellow "Project organization name not given"
    rm_echo_yellow "Without project organization, the env name such as email will not be scoped to an organization"
  fi

fi
# Feedback
echo "Project: "
echo "   PROJECT_ROOT              : $PROJECT_ROOT"
echo "   ORGANISATION_NAME         : ${ORGANISATION_NAME:-unknown}"
# Name used in env name (ie blank or _ORGANIZATION_NAME)
export ORGANISATION_ENV_NAME
ORGANISATION_ENV_NAME="$(echo ${ORGANISATION_NAME:+_${ORGANISATION_NAME}} | tr '[:lower:]' '[:upper:]' | tr '-' '_')"

#################
# Repo Manager repo
# The installation is done by cloning the repo to a well-known location.
#################
RM_DIR_VAR_NAME="${RM_PREFIX}${ORGANISATION_ENV_NAME}_DIR"
export RM_DIR
RM_DIR=$(realpath "${!RM_DIR_VAR_NAME:-$PWD/../repo-manager}")
if [ ! -d "$RM_DIR" ]; then

    RM_REPO_URI_VAR_NAME="${RM_PREFIX}${ORGANISATION_ENV_NAME}_URI"
    RM_REPO_URI="${!RM_REPO_URI_VAR_NAME:-https://github.com/combostrap/repo-manager}"
    rm_echo_yellow "Clone $RM_REPO_URI to $RM_DIR? Y(Yes-Default)/N(No)"
    read -r CLONE
    if [ "$CLONE" == "" ] || [ "$CLONE" == "Y" ]; then
        git clone "$RM_REPO_URI" "$RM_DIR"
        rm_echo_yellow "Repo Manager repo cloned"
    fi

fi

##############################
# Load sub envrc project script
##############################
ENVRCD="$PROJECT_ROOT/.envrc.d"
if [ -d ENVRCD ]; then
  # All file loaded in a directory should have a sh extension
  # This is how /etc/profile also work
  for file in "$ENVRCD"/*.sh; do
    # shellcheck disable=SC1090
    [ -r "$file" ] && source "$file"
  done
  unset file
fi

# Exit if the repo was not installed
if [ ! -d "$RM_DIR" ]; then

    rm_echo_yellow "The \`repo manager\` git repo was not found or installed: Path, Bin and Git not configured"
    echo ""
    exit 1

fi

#################
# RM
#################
echo ""
echo "Repo manager: "
echo "   RM_DIR : $RM_DIR"
# Update itself
rsync "$RM_DIR/envrc/.envrc" "$PROJECT_ROOT/.envrc"

#################
# License
# The name LICENSE is the standard convention used across GitHub, GitLab, and most open source projects.
#################
if [ ! -f LICENSE ]; then
  curl -o LICENSE https://www.apache.org/licenses/LICENSE-2.0.txt
  # Apache-2.0
  rm_echo_yellow "Licence file (LICENSE) created"
fi


#################
# Bin
#################
echo ""
echo "Scripts: "
BIN_PATH="$RM_DIR/bin"
export PATH="$BIN_PATH:$PATH" # bin path first as it has a higher priority
echo "   Scripts Path      : $BIN_PATH"

###################
# Git
###################
echo ""
echo "Git: "
# Git user config to set the user email and name.
"$RM_DIR/git/config/user"
# Git hooks configuration
GIT_HOOKS="$PROJECT_ROOT/.git-hooks"
"$RM_DIR/git/config/hooks" "$GIT_HOOKS"
# Install commit message hook
rsync "$RM_DIR/git/hooks/commit-msg" "$GIT_HOOKS/commit-msg"
rsync "$RM_DIR/git/hooks/pre-commit" "$GIT_HOOKS/pre-commit"

# GitIgnore
if [ ! -f .gitignore ]; then
  rsync "$RM_DIR/git/ignore/.gitignore" "$PROJECT_ROOT/.gitignore"
  rm_echo_yellow ".gitignore file created"
fi
# GitAttributes
if [ ! -f .gitattributes ]; then
  rsync "$RM_DIR/git/ignore/.gitattributes" "$PROJECT_ROOT/.gitattributes"
  rm_echo_yellow ".gitattributes file created"
fi


# Last EOL before direnv output
echo ""

