version: '3'

tasks:
  # Update this repo with the copier-template
  # `--vcs-ref HEAD` to avoid `You are downgrading from 0.1.0.post2.dev0+0a9a33e to 0.1.0. Downgrades are not supported.`
  update:
    cmds:
      - |
        copier update --vcs-ref HEAD .
{%- if package_manager == 'maven' %}
  # Install the package locally
  # * -DskipTests and not -Dmaven.test.skip so that test packaging is not skipped
  # * use --update-snapshots if the dependency pom was changed
  install:
    cmds:
      - ./mvnw install -DskipTests
  # Quick check to get all java docs error
  # Without javadoc, no publication to central
  javadoc:
    cmds:
      - ./mvnw javadoc:javadoc -q | grep "error"
{%- endif %}
{%- if package_manager == 'maven' and (application_type == 'pom' or application_type == 'library') %}
  # Deploy the snapshot to maven central
  deploy:
    cmds:
      - deploy
{%- endif %}
