#!/usr/bin/env bash

# Strict Bash
set -TCEeuo pipefail

echo ""

###################
# Resource Manager utility
###################
export RM_PREFIX="RM"
function rm_echo_yellow(){
    YELLOW="\033[0;33m"
    NO_COLOR="\033[0m"
    echo -e "${YELLOW}$1$NO_COLOR"
}

###################
# Project Env
# Project Environment are common project variables used in script
###################
# Project Root
export PROJECT_ROOT="$PWD"

# Envrm
ENVRC_SH="$PROJECT_ROOT/.envrc.sh"
if [ -f "$ENVRC_SH" ]; then
  # shellcheck disable=SC1090
  source "$ENVRC_SH";
fi

# Feedback
echo "Project: "
echo "   PROJECT_ROOT              : $PROJECT_ROOT"
echo "   ORGANISATION_NAME         : ${ORGANISATION_NAME}"
# Name used in env name (ie blank or _ORGANIZATION_NAME)
export ORGANISATION_ENV_NAME
ORGANISATION_ENV_NAME="$(echo ${ORGANISATION_NAME:+_${ORGANISATION_NAME}} | tr '[:lower:]' '[:upper:]' | tr '-' '_')"


#################
# Bin
#################
echo ""
echo "Scripts: "
BIN_PATH="$RM_DIR/bin"
export PATH="$BIN_PATH:$PATH" # bin path first as it has a higher priority
echo "   Scripts Path      : $BIN_PATH"

###################
# Git
###################
echo ""
echo "Git: "
# Git user config to set the user email and name.
"$RM_DIR/git/config/user"
# Git hooks configuration
GIT_HOOKS="$PROJECT_ROOT/.git-hooks"
"$RM_DIR/git/config/hooks" "$GIT_HOOKS"
# Install commit message hook
rsync "$RM_DIR/git/hooks/commit-msg" "$GIT_HOOKS/commit-msg"
rsync "$RM_DIR/git/hooks/pre-commit" "$GIT_HOOKS/pre-commit"

# Last EOL before direnv output
echo ""
